body {
    background-color: #493628;
}

.iconamoon--eye {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0'/%3E%3Cpath d='M2 12c1.6-4.097 5.336-7 10-7s8.4 2.903 10 7c-1.6 4.097-5.336 7-10 7s-8.4-2.903-10-7'/%3E%3C/g%3E%3C/svg%3E");
}

.iconamoon--eye-off {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'%3E%3Cpath stroke-linejoin='round' d='M10.73 5.073A11 11 0 0 1 12 5c4.664 0 8.4 2.903 10 7a11.6 11.6 0 0 1-1.555 2.788M6.52 6.519C4.48 7.764 2.9 9.693 2 12c1.6 4.097 5.336 7 10 7a10.44 10.44 0 0 0 5.48-1.52m-7.6-7.6a3 3 0 1 0 4.243 4.243'/%3E%3Cpath d='m4 4l16 16'/%3E%3C/g%3E%3C/svg%3E");
}

.icon {
    position: relative;
    margin-bottom: 7mm;
    left: 50%;
    transform: translate(-50%);
}

.main {
    position: relative;
    margin-top: 10mm;
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 90vw;
    height: 93vh;
    border-radius: 8px;
    background-color: #AB886D;
    border: none;
    backdrop-filter: blur(10px);
    /* aplica o blur no que está atrás */
    -webkit-backdrop-filter: blur(10px);
    /* compatibilidade Safari */
    transition: transform 2s;
}

.containerEmail {
    grid-row: 3;
    grid-column: 1;

}

.containerSenha {
    grid-row: 4;
    grid-column: 1;
}

.containerNome {
    grid-row: 2;
    grid-column: 1;
}

.Email,
.Senha,
.Nome,
.ConfirmarSenha {
    background-color: #343434;
    border-radius: 0px;
    color: white;
    margin-left: 20mm;
    margin-right: 20mm;
}

.Email:focus {
    background-color: #343434;
    color: white;
    outline: none;
}

.Senha:focus {
    background-color: #343434;
    color: white;
    outline: none;
}

.Nome:focus {
    background-color: #343434;
    color: white;
    outline: none;
}

.ConfirmarSenha:focus {
    background-color: #343434;
    color: white;
    outline: none;
}

.Nome {
    padding-left: 5mm;
}

.iconEmail,
.iconSenha {
    margin-left: 19.8mm;
    border-radius: 0px;
}

.Email::placeholder {
    color: white;
}

.Senha::placeholder {
    color: white;
}

.Nome::placeholder {
    color: white;
}

.ConfirmarSenha::placeholder {
    color: white;
}

.botao {
    position: relative;
    width: 12vw;
    left: 50%;
    transform: translate(-50%);
}

.login {
    display: grid;
    grid-template-rows: 50mm 18mm 18mm 18mm 13mm;
    gap: 3mm;
    padding: 15mm;
    background-color: #242424;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin-left: 3.05mm;
    grid-column: 2;
}

.imagem {
    position: relative;
    justify-self: center;
    align-self: center;
    grid-column: 1;
    border-radius: 7mm;

}

.logoSite {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    bottom: 6mm;
    justify-self: center;
}

.iconEmail {
    background-color: #343434;
    color: white;

}

.iconSenha {
    background-color: #343434;
}

.Titulo {
    justify-self: center;
    align-self: self-end;
    color: white;
    grid-row: 1;
    grid-column: 1;
}

.link-cadastro {
    justify-self: center;
    cursor: pointer;
}

.cadastro {
    display: none;
    grid-template-rows: 50mm 18mm 18mm 18mm 17mm 13mm;
    gap: 3mm;
    padding-left: 20mm;
    padding-right: 20mm;
    padding-top: 10mm;
    padding-bottom: 10mm;
    background-color: #242424;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin-left: 3.05mm;
    grid-column: 2;
}

.containerConfirmarSenha {
    grid-row: 5;
    grid-column: 1;
}